<div id="wrapper">
  <div id="header">
    <h1><i class="fa fa-flip-horizontal fa-hand-lizard-o"></i> <%= t('title') %> <i class="fa fa-hand-lizard-o"></i></h1>
  </div>
  <div id="contents">
    <%= form_tag('/check', :method => :put) do %>
        <%= label_tag(:cards, "Cards:") %>
        <%= text_field_tag(:cards, session[:cards], placeholder:t('placeholder'), size: "30") %>
        <%= submit_tag("Check") %>
    <% end %>
    <div><p>Hand: <%= session[:hand_name] %></p></div>
    <% flash.each do |key, value| %>
        <%= content_tag(:div, simple_format(value), class: "#{key}") %>
    <% end %>
  </div>
  <div id="footer">
    <small>©Copyright<%= Time.now.strftime("%Y")%> porkerhands All Rights Reserved.</small>
  </div>
</div>